<%= render "shared/header" %>
<h1 class="name">商品検索</h1>
<%= search_form_for @p, url: search_items_path, id: "search-forms" do |f| %>

  <div class="keyword-search search-boxes">
    <%= f.label :name_or_description_cont, 'キーワード' %>
    <div class="selects">
      <%= f.search_field :name_or_description_cont, class: "keyword-select" %>
    </div>
  </div>

  <div class="search-boxes">
    <%= f.label :category_id_eq, "カテゴリー" %>
    <div class="category-select selects">
      <%= f.collection_select(:category_id_eq, Category.where.not(id: 0), :id, :name, include_blank: '指定なし') %>
    </div>
  </div>

  <div class="search-boxes">
    <%= f.label :condition_id_eq, "商品の状態" %>
    <div class="condition-select selects">
      <%= f.collection_select(:condition_id_eq, Condition.where.not(id: 0), :id, :name, include_blank: '指定なし') %>
    </div>
  </div>

  <div class="search-boxes">
    <%= f.label :prefecture_id_eq, "発送地域" %>
    <div class="prefecture-select selects">
      <%= f.collection_select(:prefecture_id_eq, Prefecture.where.not(id: 0), :id, :name, include_blank: '指定なし') %>
    </div>
  </div>

  <div class="search-boxes">
    <%= f.label :delivery_charge_id_eq, '配送料' %>
    <div class="delivery-charge-select selects">
      <%= f.radio_button :delivery_charge_id_eq, '' %><span>指定なし</span>
      <%= f.radio_button :delivery_charge_id_eq, '1' %><span>送料込み(出品者負担)</span>
      <%= f.radio_button :delivery_charge_id_eq, '2' %><span>着払い(購入者負担)</span>
    </div>
  </div>
  
  <div class="search-boxes">
    <%= f.label :delivery_day_id_eq, '配達日数' %>
    <div class="delivery-day-select selects">
      <%= f.radio_button :delivery_day_id_eq, '' %><span>指定なし</span>
      <%= f.radio_button :delivery_day_id_eq, '1' %><span>1~2日</span>
      <%= f.radio_button :delivery_day_id_eq, '2' %><span>2~3日</span>
      <%= f.radio_button :delivery_day_id_eq, '3' %><span>4~7日</span>
    </div>
  </div>

  <div class="search-boxes">
    <%= f.label :price_gteq, "商品価格" %>
    <div class="price-select selects">
      <%= f.search_field :price_gteq %> 〜 <%= f.search_field :price_lteq %>
    </div>
  </div>

  <div class="clear">
    <%= link_to '検索条件をクリア', request.path %>
  </div>

  <div class="btn"><%= f.submit '検索', class: "search-btn" %></div>
<% end %>


<div class="search-results">
  <h1 class="name">検索結果</h1>
  <% if @results.length !=0 %>
    <div class="item-lists">
      <% @results.each do |result| %>
        <li class='list'>
          <%= link_to item_path(result.id) do %>
          <div class='item-img-content'>
            <%= image_tag result.images[0], class:'item-img' %>

            <% if result.purchase != nil %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= result.name %>
            </h3>
            <div class='item-price'>
              <span><%= result.price %>円<br><%= result.delivery_charge.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= render "shared/footer" %>